{% from "rules.md.j2" import render_rules %}
{% for property in properties %}
{% if property.path == "$" %}
{% if property.rules %}
### Object validation

{{ render_rules(property.rules) }}
{% endif %}
{% else %}
{% set heading = "###" if "." not in property.display_path else "####" %}
{% set reference = links.get(property.path) %}
{{ heading }} {% if reference %}[`{{ property.display_path }}`]({{ reference.url }}){% else %}`{{ property.display_path }}`{% endif %} { #{{ property.anchor }} }

??? property "<span class='property-type-badge'>{{ property.typeInfo.kind | e }}</span>{% if property.required %} <span class='property-status-badge'>required</span>{% elif property.conditionally_required %} <span class='property-status-badge'>conditionally required</span>{% endif %}{% if reference %} <span class='property-status-badge'>reference</span>{% endif %}"

{% if property.fieldDoc %}
{{ property.fieldDoc | indent(4, true) }}

{% endif %}
{% if not reference and property.typeDoc and property.typeDoc != property.fieldDoc %}
{{ property.typeDoc | indent(4, true) }}

{% endif %}
{% if property.deprecatedDoc %}
{{ ("**Deprecated:** " ~ property.deprecatedDoc) | indent(4, true) }}

{% endif %}
{% if reference %}
{{ reference.description | indent(4, true) }}

{% endif %}
{% if property.values %}
    **Allowed values:** {% for value in property.values %}<code>{{ value | table_cell }}</code>{% if not loop.last %}, {% endif %}{% endfor +%}

{% endif %}
{% if property.examples %}
    **Examples:**

{% for example in property.examples %}
{{ example | code_block | indent(4, true) }}

{% endfor %}
{% endif %}
{% if property.rules %}
    **Validation rules**

{{ render_rules(property.rules) | indent(4, true) }}

{% endif %}
{% if property.componentPlans %}
    **Validation of value components**

    These rules apply to parts of this value.

{% for component in property.componentPlans %}
    **Component:** <code>{{ component.path.removeprefix(property.path).removeprefix(".") | table_cell }}</code>

{% if component.values %}
    **Possible values:** {% for value in component.values %}<code>{{ value | table_cell }}</code>{% if not loop.last %}, {% endif %}{% endfor +%}

{% endif %}
{% if component.examples %}
    **Examples:**

{% for example in component.examples %}
{{ example | code_block | indent(4, true) }}

{% endfor %}
{% endif %}
{% if component.rules %}
{{ render_rules(component.rules) | indent(4, true) }}

{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
